.page-home {
	
	background-color: #282C34;
	color: white;
	
	main {
		
		padding: 0 10px;
		
		img.banner-image {
			
			width: 100%;
			padding: 10px 0;
			
		}
		
		p {
			
			text-align: justify;
			
		}
		
	}
	
}
