.page-meet-the-leads main {
	
	.text-image-box {
		
		.text-box {
			
			.lead-header {
				
				display: flex;
				align-items: baseline;
				justify-content: center;
				flex-wrap: wrap;
				margin-bottom: 5px;
				
				h4, h6 {
					
					padding: 0 5px;
					white-space: nowrap;
					
				}
				
				h4 {
					
					font-size: 1.6em;
					
				}
				
				h6 {
					
					font-size: 1em;
					opacity: 0.8;
					font-weight: normal;
					
				}
				
			}
			
		}
		
		&.ian-elder .image-box img {
			
			object-position: center 10%;
			
		}
		
	}

}
