@import "../../assets/styles/_variables";

.announcement-banner {
	
	background-color: var(--color-first-red);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	p {
		
		max-width: 1000px;
		padding: 10px 5px;
		text-align: center;
		color: white;
		font-weight: bold;
		
	}
	
}
