.social-media-icons {
	
	display: flex;
	justify-content: center;
	
	&.vertical {
		
		flex-direction: column;
		
	}
	
	&.horizontal {
		
		flex-direction: row;
		
	}
	
	.social-media-icon {
		
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		color: inherit;
		
		transition: transform 0.25s ease-in-out;
		will-change: transform;
		
		&:hover {
			
			transform: scale(1.2);
			
		}
		
		& > * {
			
			height: 100%;
			width: auto;
			
		}
		
	}
	
}
