/*
 * Created by Trevor Sears <trevor@trevorsears.com> (https://trevorsears.com/).
 * 12:12 PM -- October 18th, 2022
 * Project: v2.raptors1711.com
 */

@font-face {
	font-family: "Spy Agency";
	src: url("spy-agency.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
