/*
 * Created by Trevor Sears <trevor@trevorsears.com> (https://trevorsears.com/).
 * 3:43 PM -- April 6th, 2023
 * Project: @frc1711/raptors1711.com
 */

.bannerImage {
	
	width: 100%;
	height: auto;
	border-radius: 5px;
	
}
