/*
 * Created by Trevor Sears <trevor@trevorsears.com> (https://trevorsears.com/).
 * 9:45 AM -- April 8th, 2023
 * Project: @frc1711/raptors1711.com
 */

.container {
	
	list-style: none;
	margin: 8px 0 4px;
	
	&.outerContainer {
		
		display: flex;
		justify-content: center;
		align-items: flex-start;
		
		& > li {
			
			margin: 10px 30px;
			
		}
		
	}
	
	&.innerContainer {
		
		margin-left: 14px;
		
	}
	
	.navItem {
		
		.navText {
			
			&.link {
				
				text-decoration: none;
				
			}
			
			&.nonLink {
				
				
				
			}
			
		}
		
	}
	
}
