/*
 * Created by Trevor Sears <trevor@trevorsears.com> (https://trevorsears.com/).
 * 9:57 AM -- April 8th, 2023
 * Project: @frc1711/raptors1711.com
 */

.container {
	
	height: 1.5rem;
	width: 100%;
	margin: 16px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
	.hr {
		
		flex: 1;
		height: 1px;
		background-color: grey;
		
	}
	
	.frcLogo {
		
		height: 100%;
		width: auto;
		margin: 0 0.5rem;
		
	}
	
}
