/*
 * Created by Trevor Sears <trevor@trevorsears.com> (https://trevorsears.com/).
 * 7:04 PM -- April 7th, 2023
 * Project: @frc1711/raptors1711.com
 */

.text {
	
	margin: 20px 0;
	font-size: 4em;
	line-height: 0.9;
	text-shadow: 4px 3px grey;
	text-align: center;
	
}
