/*
 * Created by Trevor Sears <trevor@trevorsears.com> (https://trevorsears.com/).
 * 10:08 AM -- April 8th, 2023
 * Project: @frc1711/raptors1711.com
 */

.text {
	
	font-size: 2em;
	line-height: 1;
	text-shadow: 2px 2px #0008;
	
}

.lineBreak {
	
	font-size: 0;
	
}
