@import "../../../assets/styles/variables";

header {
	
	$spacing: 10px;
	
	@include expandToMaxWidth();
	
	margin: $spacing 0;
	
	div.header-content {
		
		display: flex;
		padding: 0 $spacing;
		
		div.site-title {
			
			display: inline-block;
			
			h1 {
				
				font-family: "Spy Agency", sans-serif;
				
				margin-right: $spacing;
				
			}
			
		}
		
		nav {
			
			flex: 1;
			
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			padding: 0 5%;
			
			a {
				
				color: inherit;
				padding: 5px;
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: -0.5px;
				
				&:hover:before, &:hover:after{
					
					opacity: 1;
					
				}
				
				&:before, &:after {
					
					content: " — ";
					position: absolute;
					white-space: pre;
					opacity: 0;
					transition: opacity 0.25s ease;
					
				}
				
				&:before {
					
					transform: translateX(-100%);
					
				}
				
			}
			
		}
		
	}
	
	hr {
		
		margin-top: $spacing;
		
	}
	
}
